{% extends 'index_template/base.html' %}
{% load static %}
{% block content %}

<section class="account-dashboard sec-m">
    <div class="container">
        <div class="dashboard-informations">
            <div class="dashboard-content align-items-start">
                <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                    <button class="nav-link active" id="v-pills-home-tab" data-bs-toggle="pill"
                        data-bs-target="#v-pills-home" type="button" role="tab" aria-controls="v-pills-home"
                        aria-selected="true">
                        <i class="bi bi-columns-gap"></i>Dashboard
                    </button>
                    <button class="nav-link" id="v-pills-profile-tab" data-bs-toggle="pill"
                        data-bs-target="#v-pills-profile" type="button" role="tab" aria-controls="v-pills-profile"
                        aria-selected="false">
                        <i class="bi bi-person"></i>My Profile
                    </button>
                    <button class="nav-link" id="v-pills-order-tab" data-bs-toggle="pill"
                        data-bs-target="#v-pills-order" type="button" role="tab" aria-controls="v-pills-order"
                        aria-selected="false">
                        <i class="bi bi-bag-check"></i>All Order
                    </button>
                    <button class="nav-link" id="v-pills-settings-tab" data-bs-toggle="pill"
                        data-bs-target="#v-pills-settings" type="button" role="tab" aria-controls="v-pills-settings"
                        aria-selected="false">
                        <i class="bi bi-house-door"></i>Address
                    </button>
                    <button class="nav-link" id="v-pills-logout-tab" data-bs-toggle="pill"
                        data-bs-target="#v-pills-logout" type="button" role="tab" aria-controls="v-pills-logout"
                        aria-selected="false">
                        <i class="bi bi-box-arrow-in-right"></i>Logout
                    </button>
                </div>
                <div class="tab-content" id="v-pills-tabContent">
                    <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel"  aria-labelledby="v-pills-home-tab">
                        <div class="row g-2">
                            <div class="col-lg-6">
                                <div class="service-widget">
                                    <div class="service-pack">
                                        <h4>Current Plan: <span> <small>Basic, ₹</small>49<small style="font-size: 12px; font-weight:200;text-transform: lowercase;">/week</small></span> </h4>
                                        <div class="package">
                                            <h4>Features</h4>
                                            <ul class="package-list">
                                                <li><i class="bi bi-check-all"></i>Service Request <strong>2</strong>
                                                </li>
                                                <li><i class="bi bi-check-all"></i>Transportation cost
                                                    <strong>Free</strong></li>
                                                <li><i class="bi bi-check-all"></i>Cancellation charges
                                                    <strong><small>₹</small>5</strong></li>
                                                <li><i class="bi bi-check-all"></i>Repairing charges
                                                    <strong>Excluded</strong></li>
                                                <li><i class="bi bi-check-all"></i>Spare Parts charges
                                                    <strong>Excluded</strong></li>
                                            </ul>
                                        </div>
                                        <div class="progress m-2" style="height: 30px;">
                                            <div class="progress-bar bg-success" role="progressbar" style="width: 85%;" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100">2 days</div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-6">
                                <div class="row g-4">
                                    <div class="col-lg-6">
                                        <div class="order-box">
                                            <h5 class="bg-warning">Order Pending</h5>
                                            <div class="box-inner">
                                                <div class="icon">
                                                    <img src="assets/images/icons/order-box-1.png" alt="">
                                                </div>
                                                <h2>2</h2>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-6">
                                        <div class="order-box">
                                            <h5 class="bg-success">Order Complate</h5>
                                            <div class="box-inner">
                                                <div class="icon">
                                                    <img src="assets/images/icons/order-box-2.png" alt="">
                                                </div>
                                                <h2>5</h2>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-6">
                                        <div class="order-box">
                                            <h5 class="bg-danger">Order Cancel</h5>
                                            <div class="box-inner">
                                                <div class="icon">
                                                    <img src="assets/images/icons/order-box-3.png" alt="">
                                                </div>
                                                <h2>1</h2>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-6">
                                        <div class="order-box">
                                            <h5 class="bg-primary">Total Order</h5>
                                            <div class="box-inner">
                                                <div class="icon">
                                                    <img src="assets/images/icons/order-box-4.png" alt="">
                                                </div>
                                                <h2>8</h2>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="tab-pane fade" id="v-pills-profile" role="tabpanel"
                        aria-labelledby="v-pills-profile-tab">
                        <div class="user-profile">
                            <div class="user-info">
                                <div class="thumb">
                                    <img src="assets/images/user-1.jpg" alt="">
                                </div>
                                <div class="user-desc">
                                    <h3>Johan Martin SR-</h3>
                                    <span>Co Founder</span>
                                </div>
                            </div>
                            <div class="user-form">
                                <form action="https://demo-egenslab.b-cdn.net/html/serve/preview/account.html"
                                    method="get">
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <label>Frist Name *
                                                <input type="text" name="fname" value="{{request.user.first_name}}"
                                                    id="fname" placeholder="Your first name">
                                            </label>
                                        </div>
                                        <div class="col-lg-6">
                                            <label>Last Name *
                                                <input type="text" name="lname" id="lname"
                                                    value="{{request.user.last_name}}" placeholder="Your last name">
                                            </label>
                                        </div>
                                        <div class="col-lg-6">
                                            <label>Contact Number
                                                <input type="text" name="number" id="number"
                                                    value="{{request.user.phone}}" placeholder="+8801">
                                            </label>
                                        </div>
                                        <div class="col-lg-6">
                                            <label>Email
                                                <input type="email" name="email" id="email"
                                                    value="{{request.user.email}}" placeholder="Your Email">
                                            </label>
                                        </div>
                                        <div class="col-12">
                                            <label>Address
                                                <input type="text" name="address"
                                                    value="{{request.user.customer.address}}" id="address">
                                            </label>
                                        </div>

                                        <div class="col-lg-6">
                                            <label>Zip Code
                                                <input type="text" name="zipcode" id="zipcode"
                                                    value="{{request.user.customer.pincode}}" placeholder="00000">
                                            </label>
                                        </div>
                                        <div class="col-12">
                                            <div class="form-inner">
                                                <label>Password*
                                                    <i class="bi bi-eye-slash" id="togglePasswordTwo"></i>
                                                    <input type="password" name="password" autocomplete="off"
                                                        id="passwordTwo" placeholder="******">
                                                </label>
                                            </div>
                                            <div class="form-inner">
                                                <label>Confrim Password*
                                                    <i class="bi bi-eye-slash" id="togglePasswordThree"></i>
                                                    <input type="password" name="email" id="passwordThree"
                                                        placeholder="*****">
                                                </label>
                                            </div>
                                            <button type="submit">Update Profile</button>
                                            <button class="cancel">Cancel</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="v-pills-order" role="tabpanel" aria-labelledby="v-pills-order-tab">
                        <div class="all-order">
                            <div class="order-head">
                                <h3>All Order</h3>
                                <select>
                                    <option selected>Show: Last 05 Order</option>
                                    <option value="25">25</option>
                                    <option value="50">50</option>
                                    <option value="100">100</option>
                                </select>
                            </div>
                            <div class="order-table" style="overflow-x:auto;">
                                <table style="width:100%">
                                    <thead>
                                        <tr class="head">
                                            <th>Service Title</th>
                                            <th>Order ID</th>
                                            <th>Order Ammount</th>
                                            <th>Status</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>

                                    <tr>
                                        <td data-label="Service Title">
                                            <img src="assets/images/table-data/table-data-1.jpg" alt="">
                                            <span>Hair Cut Service</span>
                                        </td>
                                        <td data-label="Order ID">#200124001</td>
                                        <td data-label="Order Ammount">1222.8365</td>
                                        <td data-label="Status">Complete</td>
                                        <td data-label="Action">
                                            <div class="action">
                                                <div class="view"><i class="bi bi-eye"></i></div>
                                                <div class="delete"><i class="bi bi-trash3"></i></div>
                                            </div>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td data-label="Service title">
                                            <img src="assets/images/table-data/table-data-2.jpg" alt="">
                                            <span>Hous Shift Service</span>
                                        </td>
                                        <td data-label="Order ID">#2005601</td>
                                        <td data-label="Order Ammount">1455.8768</td>
                                        <td data-label="Status">Complete</td>
                                        <td data-label="Action">
                                            <div class="action">
                                                <div class="view"><i class="bi bi-eye"></i></div>
                                                <div class="delete"><i class="bi bi-trash3"></i></div>
                                            </div>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td data-label="Service title">
                                            <img src="assets/images/table-data/table-data-3.jpg" alt="">
                                            <span>Electric Line Services</span>
                                        </td>
                                        <td data-label="Order ID">#200129875</td>
                                        <td data-label="Order Ammount">1268.8955</td>
                                        <td data-label="Status">Complete</td>
                                        <td data-label="Action">
                                            <div class="action">
                                                <div class="view"><i class="bi bi-eye"></i></div>
                                                <div class="delete"><i class="bi bi-trash3"></i></div>
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            <div class="show-entries">
                                <div class="entrie">
                                    <span>Showing 10 to 20 of 1 entries</span>
                                    <ul class="paginate">
                                        <li><a href="#">Previous</a></li>
                                        <li><a href="#">01</a></li>
                                        <li class="active"><a href="#">02</a></li>
                                        <li><a href="#">03</a></li>
                                        <li><a href="#">Next</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="v-pills-settings" role="tabpanel"
                        aria-labelledby="v-pills-settings-tab">
                        <div class="user-address">
                            <div class="head">
                                <h3>Save Your Address</h3>
                                <p>Auction sites present consumers with a thrilling, competitivenl way to buy the goods
                                    and services they need most.</p>
                            </div>
                            <div class="user-location">
                                <div class="user-loc">
                                    <div class="icon">
                                        <i class="bi bi-house-door"></i>
                                    </div>
                                    <p>At Home</p>
                                    <div class="tooltip">
                                        <div class="contact-signle hover-border1 d-flex flex-row align-items-center wow fadeInDown"
                                            data-wow-duration="1.5s" data-wow-delay=".2s"
                                            style="visibility: visible; animation-duration: 1.5s; animation-delay: 0.2s; animation-name: fadeInDown;">
                                            <div class="icon">
                                                <i class="bi bi-geo-alt"></i>
                                            </div>
                                            <div class="text">
                                                <h4>Location</h4>
                                                <p>168/170, Ave 01,Old York Drive Rich Mirpur, Dhaka</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="user-loc">
                                    <div class="icon">
                                        <i class="bi bi-house-door"></i>
                                    </div>
                                    <p>At Office</p>
                                    <div class="tooltip">
                                        <div class="contact-signle hover-border1 d-flex flex-row align-items-center wow fadeInDown"
                                            data-wow-duration="1.5s" data-wow-delay=".2s"
                                            style="visibility: visible; animation-duration: 1.5s; animation-delay: 0.2s; animation-name: fadeInDown;">
                                            <div class="icon">
                                                <i class="bi bi-geo-alt"></i>
                                            </div>
                                            <div class="text">
                                                <h4>Location</h4>
                                                <p>168/170, Ave 01,Old York Drive Rich Mirpur, Dhaka</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="v-pills-logout" role="tabpanel" aria-labelledby="v-pills-settings-tab">
                       <div class="d-flex justify-content-center mt-5">
                            Click here to  <a href="{% url 'logout' %}" class="ms-3">Logout</a>
                       </div>
                          
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock content %}

{% block js %}



<script>
    const togglePasswordTwo = document.querySelector('#togglePasswordTwo');
    const passwordTwo = document.querySelector('#passwordTwo');

    if (togglePasswordTwo) {
        togglePasswordTwo.addEventListener('click', function (e) {
            // toggle the type attribute
            const type = passwordTwo.getAttribute('type') === 'password' ? 'text' : 'password';
            passwordTwo.setAttribute('type', type);
            // toggle the eye / eye slash icon
            this.classList.toggle('bi-eye');
        });
    }
    const togglePasswordThree = document.querySelector('#togglePasswordThree');
    const passwordThree = document.querySelector('#passwordThree');

    if (togglePasswordThree) {
        togglePasswordThree.addEventListener('click', function (e) {
            // toggle the type attribute
            const type = passwordThree.getAttribute('type') === 'password' ? 'text' : 'password';
            passwordThree.setAttribute('type', type);
            // toggle the eye / eye slash icon
            this.classList.toggle('bi-eye');
        });
    }
</script>
{% endblock js %}