
    <!-- alert messgae on success and error -->
    <div class="row" id="msg_alert">
        {% if messages %}
      <div class="col-12">
          {% for message in messages %}
          {% if message.tags == 'error' %}
          <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <strong>{{message}}</strong> 
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
          {% elif message.tags == 'success' %}
          <div class="alert alert-success alert-dismissible fade show" role="alert">
            <strong>{{message}}</strong> 
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
          {% endif %}
          {% endfor %}
        </div>
        {% endif %}
      </div>
      <!-- / end alert message -->
    
      
  