{% extends 'index_template/base.html' %}
{% load static %}

{% block content %}

<!-- <section class="hero-area">
    <div class="container-fluid">
        <div class="hero-wrapper">
            <div class="hero-content wow animate fadeInLeft" data-wow-delay="200ms" data-wow-duration="1500ms">
                <span>Wellcome Our Service Sale</span>
                <h1>Nonstop Services Life Better.</h1>
                <div class="find-service">
                    <div class="suggest">
                        <span>Suggest For You:</span>
                        <ul class="suggest-list">
                            <li><a href="{% url 'service' %}">House Maid</a></li>
                            <li><a href="{% url 'service' %}">Plumbing</a></li>
                            <li><a href="{% url 'service' %}">AC Repair</a></li>
                            <li><a href="{% url 'service' %}">WallPainting</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="hero-banner wow animate fadeInRight" data-wow-delay="200ms" data-wow-duration="1500ms">
                <img src="{% static 'index/images/home-1/hero-section-right-img.png' %}" alt="" class="banner">
            </div>
        </div>
    </div>
</section> -->

<section class="hero-area-two">
    <div class="container-fluid p-0">
        <div class="hero-wrapper two">
            <div class="hero-banner">
                <img src="{% static 'index/images/home-1/hero-section-right-img.png' %}" alt="">
            </div>
            <div class="hero-content">
                <h5>Restless Services into the Convenience</h5>
                <div class="find-service">
                    <div class="suggest">
                        <ul class="suggest-list">
                            <li>
                                <a href="{% url 'service'%}?city=&area=&category=House Maid">
                                    <img src="{% static 'index/images/icons/choose-icon-1.jpg'%}">
                                    House Maid</a>
                            </li>
                            <li>
                                <a href="{% url 'service'%}?city=&area=&category=Elderly Care"><img
                                        src="{% static 'index/images/icons/choose-icon-1.jpg'%}">
                                    Elderly Care</a>
                            </li>
                            <li>
                                <a href="{% url 'service'%}?city=&area=&category=Plumber"><img
                                        src="{% static 'index/images/icons/choose-icon-1.jpg'%}">
                                    Plumber</a>
                            </li>
                            <li>
                                <a href="{% url 'service'%}?city=&area=&category=Electrician"><img
                                        src="{% static 'index/images/icons/choose-icon-1.jpg'%}">
                                    Electrician</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="popular-services sec-m-top">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="sec-title layout-1 wow animate fadeInUp" data-wow-delay="200ms" data-wow-duration="1500ms">
                    <div class="title-left">
                        <span>Services</span>
                        <h2>Our Popular Services</h2>
                    </div>
                    <div class="title-right">
                        <strong>Popular Services</strong>
                        <a href="{% url 'service' %}">View All Services<span><i
                                    class="bi bi-arrow-right"></i></span></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row g-4">
            {% for s in service_category_list %}
            <div class="col-md-6 col-lg-4 wow animate fadeInUp" data-wow-delay="200ms" data-wow-duration="1500ms">
                <div class="single-service">

                    <div class="thumb">
                        <a><img src="{{s.image.url}}" alt=""></a>
                        <div class="tag">
                            <a>10 Venders</a>
                        </div>
                    </div>

                    <div class="single-inner">
                        <h4><a href="{% url 'service'%}?city=&area=&category={{s.name}}">{{s.name}}</a></h4>
                        <div class="started">
                            <span></span>
                            <a href="{% url 'service'%}?city=&area=&category={{s.name}}">View Details</a>
                        </div>
                    </div>
                </div>
            </div>
            {%endfor %}

        </div>
    </div>
</section>



<section class="features-shop">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="sec-title layout-1 wow animate fadeInUp" data-wow-delay="200ms" data-wow-duration="1500ms">
                    <div class="title-left">
                        <span>Vender</span>
                        <h2>Our Popular Vendor</h2>
                    </div>
                    <div class="title-right">
                        <strong>Popular Vendor</strong>
                        <a href="{% url 'service' %}">View All Service<span><i class="bi bi-arrow-right"></i></span></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="swiper shop-slider">
            <div class="swiper-wrapper">
                {% for v in popular_vender%}
                <div class="swiper-slide">
                    <div class="single-shop wow animate fadeInLeft" data-wow-delay="200ms" data-wow-duration="1500ms">
                        <div class="shop-thumb">
                            {% if v.profile_photo %}
                            <img src="{{v.profile_photo.url}}" alt="">
                            {% else %}
                            <img src="{% static 'index/images/shop/shop-1.png' %}" alt="">
                            {% endif %}
                        </div>
                        <div class="shop-inner">
                            <h4>{{v.cu.first_name}} {{v.cu.last_name}}</h4>
                            <div class="ratting">
                                <ul class="stars">
                                    <li><i class="fas fa-star"></i></li>
                                    <li><i class="fas fa-star"></i></li>
                                    <li><i class="fas fa-star"></i></li>
                                    <li><i class="fas fa-star"></i></li>
                                    <li><i class="fas fa-star text-dark"></i></li>
                                </ul>
                                <strong>(4/5)</strong>
                            </div>
                            <a href="{% url 'service' %}">View Service<span><i class="bi bi-arrow-right"></i></span></a>
                        </div>
                        <div class="shop-service-count">
                            <span>10 Services</span>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="swiper-pagination"></div>
        </div>
    </div>
</section>


<section class="why-choose sec-m">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 wow animate fadeInDown" data-wow-delay="200ms" data-wow-duration="1500ms">
                <div class="why-choose-left">
                    <div class="sec-title layout-1">
                        <div class="title-left">
                            <span>Trust Agency</span>
                            <h2>Best Offered Services</h2>
                            <p>Aenean fermentum sapien ac aliquet gravida. Fusce a ipsum metus. tolad answerala
                                tomadunali Aliquam viverra sagittis felis.</p>
                        </div>
                    </div>
                    <div class="accordion" id="accordionExample">
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingOne">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    Ensuring Masks
                                </button>
                            </h2>
                            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                                data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    Aenean fermentum sapien ac aliquet gravida. Fusce a ipsum metus. tolad Aenean
                                    fermentum sapien ac aliquet gravida. Fusce a ipsum metus. tolad answerala
                                    tomadunali Aliquam viverra sagittis felis.
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingTwo">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    24/7 Supports
                                </button>
                            </h2>
                            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                                data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    Aenean fermentum sapien ac aliquet gravida. Fusce a ipsum metus. tolad Aenean
                                    fermentum sapien ac aliquet gravida. Fusce a ipsum metus. tolad answerala
                                    tomadunali Aliquam viverra sagittis felis.
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingThree">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                    Sanitising Hands
                                </button>
                            </h2>
                            <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                                data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    Aenean fermentum sapien ac aliquet gravida. Fusce a ipsum metus. tolad Aenean
                                    fermentum sapien ac aliquet gravida. Fusce a ipsum metus. tolad answerala
                                    tomadunali Aliquam viverra sagittis felis.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="why-choose-right">
                    <h2 class=" wow animate fadeInUp" data-wow-delay="300ms" data-wow-duration="1500ms">Why Choose
                        Us</h2>
                    <div class="our-archive">
                        <div class="single-archive wow animate fadeInUp" data-wow-delay="400ms"
                            data-wow-duration="1500ms">
                            <span class="counter">5,000</span><span>+</span>
                            <h5>Service Providers</h5>
                        </div>
                        <div class="single-archive wow animate fadeInUp" data-wow-delay="500ms"
                            data-wow-duration="1500ms">
                            <span class="counter">15,000</span><span>+</span>
                            <h5>Order Served</h5>
                        </div>
                        <div class="single-archive wow animate fadeInUp" data-wow-delay="600ms"
                            data-wow-duration="1500ms">
                            <span class="counter">2,000</span><span>+</span>
                            <h5>5 Star Received</h5>
                        </div>
                        <div class="single-archive wow animate fadeInUp" data-wow-delay="700ms"
                            data-wow-duration="1500ms">
                            <span class="counter">1,800</span><span>+</span>
                            <h5>Friendly Shop</h5>
                        </div>
                    </div>
                    <img src="{% static 'index/images/why-choose-dot-shape.png' %}" alt="" class="shape-dot">
                    <img src="{% static 'index/images/why-choose-shape.png' %}" alt="" class="shape-triangle">
                </div>
            </div>
        </div>
    </div>
</section>


<section class="testimonial">
    <div class="container">
        <div class="row">
            <div class="col-12 wow animate fadeInUp" data-wow-delay="200ms" data-wow-duration="1500ms">
                <div class="sec-title layout-1">
                    <div class="title-left">
                        <span>Testimonial</span>
                        <h2>our Client Say About Us</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="swiper testimonial-slider">
            <div class="swiper-wrapper">
                <div class="swiper-slide wow animate fadeInUp" data-wow-delay="200ms" data-wow-duration="1500ms">
                    <div class="testimonial-slide">
                        <div class="quote">
                            <i class="fas fa-quote-right"></i>
                        </div>
                        <div class="reviewer">
                            <div class="thumb">
                                <img src="{% static 'index/images/testimonial/testimonial-1.jpg' %}" alt="">
                                <i class="fas fa-quote-left"></i>
                            </div>
                            <div class="reviewer-info">
                                <h4>Johan Martin</h4>
                                <span>CEO Founder</span>
                            </div>
                        </div>
                        <p>Suspendisse potenti. Suspendisse potenti. Phasellus sedan arcu. Donec commodo lobortis
                            purus quis dictum. Sedijabui aliquamtinl ante tortor, vel dapibus mi tempor sit amet.
                            andi pretium. Nunc tempor condimentum velit. </p>
                    </div>
                </div>
                <div class="swiper-slide wow animate fadeInUp" data-wow-delay="400ms" data-wow-duration="1500ms">
                    <div class="testimonial-slide">
                        <div class="quote">
                            <i class="fas fa-quote-right"></i>
                        </div>
                        <div class="reviewer">
                            <div class="thumb">
                                <img src="{% static 'index/images/testimonial/testimonial-2.jpg' %}" alt="">
                                <i class="fas fa-quote-left"></i>
                            </div>
                            <div class="reviewer-info">
                                <h4>Angel Kolenia</h4>
                                <span>CO Founder</span>
                            </div>
                        </div>
                        <p>Suspendisse potenti. Suspendisse potenti. Phasellus sedan arcu. Donec commodo lobortis
                            purus quis dictum. Sedijabui aliquamtinl ante tortor, vel dapibus mi tempor sit amet.
                            andi pretium. Nunc tempor condimentum velit. </p>
                    </div>
                </div>
            </div>
            <div class="slider-navigations wow animate fadeInUp" data-wow-delay="200ms" data-wow-duration="1500ms">
                <div class="swiper-button-prev-c"><i class="bi bi-arrow-left"></i></div>
                <div class="swiper-button-next-c"><i class="bi bi-arrow-right"></i></div>
            </div>
        </div>
    </div>
</section>


<section class="how-it-works sec-m-top">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="sec-title layout-1">
                    <div class="title-left">
                        <span>Get A Services</span>
                        <h2>How It Works</h2>
                    </div>
                    <div class="title-right">
                        <strong>How It Works</strong>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="how-work-left">
                    <h4>3 Step To Take Our Services</h4>
                    <div class="step">
                        <h4><span>01</span>Select the Service</h4>
                        <p>Aenean fermentum sapien ac aliquet gravida. Fusce a ipsum metusil Vonean hrmentum sapien
                            ac aliquet gravida.</p>
                    </div>
                    <div class="step">
                        <h4><span>02</span>Pick your schedule</h4>
                        <p>Aenean fermentum sapien ac aliquet gravida. Fusce a ipsum metusil Vonean hrmentum sapien
                            ac aliquet gravida.</p>
                    </div>
                    <div class="step">
                        <h4><span>03</span>Place Your Order & Relax</h4>
                        <p>Aenean fermentum sapien ac aliquet gravida. Fusce a ipsum metusil Vonean hrmentum sapien
                            ac aliquet gravida.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="how-work-right">
                    <div class="video-demo">
                        <div class="video-thumb">
                            <img src="{% static 'index/images/work-video-thumb.jpg' %}" alt="">
                            <div class="play">
                                <a class="popup-video" href="https://www.youtube.com/watch?v=0O2aH4XLbto"><i
                                        class="bi bi-play-fill"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


{% endblock content %}