{% extends 'index_template/base.html' %}
{% load static %}
{% block content %}


<section id="down" class="services-details-area sec-m-top">
    <div class="container mb-5">
        <div class="row">
            <div class="col-lg-2"></div>
            <div class="col-lg-8">
                <div class="service-details">
                    <H2 class="text-center">Our Pricing</H2>
                    <div class="service-tabs wow animate fadeInUp" data-wow-delay="200ms" data-wow-duration="1500ms">
                        <ul class="nav nav-pills" id="pills-tab" role="tablist">
                            <li class="nav-item" role="presentation">
                                <button class="nav-link " id="pills-home-tab" data-bs-toggle="pill"
                                    data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home"
                                    aria-selected="true">Weekly</button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link active" id="pills-profile-tab" data-bs-toggle="pill"
                                    data-bs-target="#pills-profile" type="button" role="tab"
                                    aria-controls="pills-profile" aria-selected="false">Monthly</button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link" id="pills-contact-tab" data-bs-toggle="pill"
                                    data-bs-target="#pills-contact" type="button" role="tab"
                                    aria-controls="pills-contact" aria-selected="false">Quaterly</button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link" id="pills-faq-tab" data-bs-toggle="pill"
                                    data-bs-target="#pills-faq" type="button" role="tab" aria-controls="pills-faq"
                                    aria-selected="false">Yearly</button>
                            </li>
                        </ul>

                        <div class="tab-content" id="pills-tabContent">
                            <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                                <div class="row">
                                    <div class="col-sm-6 ">
                                        <div class="service-widget">
                                            <div class="service-pack">
                                                <h4>Basic <span><small>₹</small>49<small style="font-size: 12px; font-weight:200;text-transform: lowercase;">/week</small></span></h4>
                                                <div class="package">
                                                    <h4>Features</h4>
                                                    <ul class="package-list">
                                                        <li><i class="bi bi-check-all"></i>Service Request <strong>2</strong></li>
                                                        <li><i class="bi bi-check-all"></i>Transportation cost <strong>Free</strong></li>
                                                        <li><i class="bi bi-check-all"></i>Cancellation charges <strong><small>₹</small>5</strong></li>
                                                        <li><i class="bi bi-check-all"></i>Repairing charges <strong>Excluded</strong></li>
                                                        <li><i class="bi bi-check-all"></i>Spare Parts charges <strong>Excluded</strong></li>
                                                    </ul>
                                                </div>
                                                <div class="book-btn">
                                                    <a href="contact.html">Subscribe</a>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="col-sm-6">
                                        <div class="service-widget-premium wow animate fadeInRight"
                                            data-wow-delay="200ms" data-wow-duration="1500ms">
                                            <div class="service-pack-premium">
                                                <h4>Premium <span><small>₹</small>99<small style="font-size: 12px; font-weight:200;text-transform: lowercase;">/week</small></span></h4>
                                                <div class="package">
                                                    <h4>Features</h4>
                                                    <ul class="package-list">
                                                        <li><i class="bi bi-check-all"></i>Service Request <strong>5</strong></li>
                                                        <li><i class="bi bi-check-all"></i>Transportation cost <strong>Free</strong></li>
                                                        <li><i class="bi bi-check-all"></i>Cancellation charges <strong>Free</strong></li>
                                                        <li><i class="bi bi-check-all"></i>Repairing charges <strong>Excluded</strong></li>
                                                        <li><i class="bi bi-check-all"></i>Spare Parts charges <strong>Excluded</strong></li>
                                                    </ul>
                                                </div>
                                                <div class="book-btn-premium">
                                                    <a href="contact.html">Subscribe</a>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            
                            <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
                                <div class="row">
                                    <div class="col-sm-6 ">
                                        <div class="service-widget">
                                            <div class="service-pack">
                                                <h4>Basic <span><small>₹</small>149<small style="font-size: 12px; font-weight:200;text-transform: lowercase;">/month</small></span></h4>
                                                <div class="package">
                                                    <h4>Features</h4>
                                                    <ul class="package-list">
                                                        <li><i class="bi bi-check-all"></i>Service Request <strong>2</strong></li>
                                                        <li><i class="bi bi-check-all"></i>Transportation cost <strong>Free</strong></li>
                                                        <li><i class="bi bi-check-all"></i>Cancellation charges <strong><small>₹</small>5</strong></li>
                                                        <li><i class="bi bi-check-all"></i>Repairing charges <strong>Excluded</strong></li>
                                                        <li><i class="bi bi-check-all"></i>Spare Parts charges <strong>Excluded</strong></li>
                                                    </ul>
                                                </div>
                                                <div class="book-btn">
                                                    <a href="contact.html">Subscribe</a>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="col-sm-6">
                                        <div class="service-widget-premium">
                                            <div class="service-pack-premium">
                                                <h4>Premium <span><small>₹</small>99<small style="font-size: 12px; font-weight:200;text-transform: lowercase;">/month</small></span></h4>
                                                <div class="package">
                                                    <h4>Features</h4>
                                                    <ul class="package-list">
                                                        <li><i class="bi bi-check-all"></i>Service Request <strong>5</strong></li>
                                                        <li><i class="bi bi-check-all"></i>Transportation cost <strong>Free</strong></li>
                                                        <li><i class="bi bi-check-all"></i>Cancellation charges <strong>Free</strong></li>
                                                        <li><i class="bi bi-check-all"></i>Repairing charges <strong>Excluded</strong></li>
                                                        <li><i class="bi bi-check-all"></i>Spare Parts charges <strong>Excluded</strong></li>
                                                    </ul>
                                                </div>
                                                <div class="book-btn-premium">
                                                    <a href="contact.html">Subscribe</a>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <!-- pricing Monthly -->
                            <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">
                                <div class="row">
                                    <div class="col-sm-6 ">
                                        <div class="service-widget">
                                            <div class="service-pack">
                                                <h4>Basic <span><small>₹</small>49<small style="font-size: 12px; font-weight:200;text-transform: lowercase;">/3 months</small></span></h4>
                                                <div class="package">
                                                    <h4>Features</h4>
                                                    <ul class="package-list">
                                                        <li><i class="bi bi-check-all"></i>Service Request <strong>2</strong></li>
                                                        <li><i class="bi bi-check-all"></i>Transportation cost <strong>Free</strong></li>
                                                        <li><i class="bi bi-check-all"></i>Cancellation charges <strong><small>₹</small>5</strong></li>
                                                        <li><i class="bi bi-check-all"></i>Repairing charges <strong>Excluded</strong></li>
                                                        <li><i class="bi bi-check-all"></i>Spare Parts charges <strong>Excluded</strong></li>
                                                    </ul>
                                                </div>
                                                <div class="book-btn">
                                                    <a href="contact.html">Subscribe</a>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="col-sm-6">
                                        <div class="service-widget-premium">
                                            <div class="service-pack-premium">
                                                <h4>Premium <span><small>₹</small>99<small style="font-size: 12px; font-weight:200;text-transform: lowercase;">/3 months</small></span></h4>
                                                <div class="package">
                                                    <h4>Features</h4>
                                                    <ul class="package-list">
                                                        <li><i class="bi bi-check-all"></i>Service Request <strong>5</strong></li>
                                                        <li><i class="bi bi-check-all"></i>Transportation cost <strong>Free</strong></li>
                                                        <li><i class="bi bi-check-all"></i>Cancellation charges <strong>Free</strong></li>
                                                        <li><i class="bi bi-check-all"></i>Repairing charges <strong>Excluded</strong></li>
                                                        <li><i class="bi bi-check-all"></i>Spare Parts charges <strong>Excluded</strong></li>
                                                    </ul>
                                                </div>
                                                <div class="book-btn-premium">
                                                    <a href="contact.html">Subscribe</a>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <!-- pricing quaterly -->
                            <div class="tab-pane fade" id="pills-faq" role="tabpanel" aria-labelledby="pills-faq-tab">

                                <div class="row">
                                    <div class="col-sm-6 ">
                                        <div class="service-widget">
                                            <div class="service-pack">
                                                <h4>Basic <span><small>₹</small>449<small style="font-size: 12px; font-weight:200;text-transform: lowercase;">/year</small></span></h4>
                                                <div class="package">
                                                    <h4>Features</h4>
                                                    <ul class="package-list">
                                                        <li><i class="bi bi-check-all"></i>Service Request <strong>2</strong></li>
                                                        <li><i class="bi bi-check-all"></i>Transportation cost <strong>Free</strong></li>
                                                        <li><i class="bi bi-check-all"></i>Cancellation charges <strong><small>₹</small>5</strong></li>
                                                        <li><i class="bi bi-check-all"></i>Repairing charges <strong>Excluded</strong></li>
                                                        <li><i class="bi bi-check-all"></i>Spare Parts charges <strong>Excluded</strong></li>
                                                    </ul>
                                                </div>
                                                <div class="book-btn">
                                                    <a href="contact.html">Subscribe</a>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="col-sm-6">
                                        <div class="service-widget-premium">
                                            <div class="service-pack-premium">
                                                <h4>Premium <span><small>₹</small>599<small style="font-size: 12px; font-weight:200;text-transform: lowercase;">/year</small></span></h4>
                                                <div class="package">
                                                    <h4>Features</h4>
                                                    <ul class="package-list">
                                                        <li><i class="bi bi-check-all"></i>Service Request <strong>Unlimited</strong></li>
                                                        <li><i class="bi bi-check-all"></i>Transportation cost <strong>Free</strong></li>
                                                        <li><i class="bi bi-check-all"></i>Cancellation charges <strong>Free</strong></li>
                                                        <li><i class="bi bi-check-all"></i>Repairing charges <strong>Excluded</strong></li>
                                                        <li><i class="bi bi-check-all"></i>Spare Parts charges <strong>Excluded</strong></li>
                                                    </ul>
                                                </div>
                                                <div class="book-btn-premium">
                                                    <a href="contact.html">Subscribe</a>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <!-- pricing yearly -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-2"></div>
        </div>
    </div>
</section>



{% endblock content %}