{% extends 'vender_template/base.html' %}
{% load static %}
{% block main_content %}

<main class="app-content">
    <div class="row">
        <div class="col-md-12">
            <div class="tile">
                <h3 class="tile-title">Vender Lists </h3>
                <table class="table" id="sampleTable">
                    <thead>
                        <tr>
                          <th>Order ID</th>
                          <th>Service</th>
                          <th>Customer</th>
                          <th>Status</th>
                          <th>Price</th>
                          <th>Date</th>
                        </tr>
                      </thead>
                      <tbody>
                        {% if order_list %}
                          {% for o in order_list %}
                          <tr>
                            <th>{{o.orderid}}</th>
                            <td>{{o.service.category.name}}</td>
                            <th>{{o.customer.cu.first_name}} {{o.customer.cu.last_name}}</th>
                            <td>
                              {% if o.status == '1' %} Running
                              {% elif o.status == '2' %}Pending
                              {% elif o.status == '3' %} Complete
                              {% else %}
                              Cancelled
                              {% endif %}</td>
                            <td>{{o.total_price}}</td>
                            <td>{{o.created_at}}</td>
                          </tr>
                          {% endfor %}
                        {%else%}
                        <tr>
                          <th colspan="1">Customer Not Found</th>
            
                          </tr>
                        {% endif %}
                      </tbody>
                </table>
            </div>
        </div>
    </div>
</main>
{% endblock main_content %}

{% block js %}
<script type="text/javascript" src="{% static 'admin/js/plugins/jquery.dataTables.min.js' %}"></script>
<script type="text/javascript" src="{% static 'admin/js/plugins/dataTables.bootstrap.min.js' %}"></script>
<script type="text/javascript">
    $('#sampleTable').DataTable();
</script>
{% endblock js %}