{% extends 'admin_template/base.html' %}
{% load static %}
{% block main_content %}

<main class="app-content">
    <div class="row">
        <div class="col-md-12">
            <div class="tile">
                <h3 class="tile-title">Vender Lists </h3>
                <table class="table" id="sampleTable">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Name</th>
                            <th>Phone</th>
                            <th>Email</th>
                            <th>Address</th>
                        </tr>
                    </thead>
                    <tbody>

                        {% for c in customer_list %}
                        <tr>
                            <td>{{forloop.counter}}</td>
                            <td><a href="{% url 'admin_customer_details' id=c.id %}">{{c.cu.first_name}} {{c.cu.last_name}}</a></td>
                            <td>{{c.cu.phone}}</td>
                            <td>{{c.cu.email}}</td>
                            <td>{{c.address}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</main>
{% endblock main_content %}

{% block js %}
<script type="text/javascript" src="{% static 'admin/js/plugins/jquery.dataTables.min.js' %}"></script>
<script type="text/javascript" src="{% static 'admin/js/plugins/dataTables.bootstrap.min.js' %}"></script>
<script type="text/javascript">
    $('#sampleTable').DataTable();
</script>
{% endblock js %}