{% extends 'Admin_App/base.html' %}


{% block main_content %}

<main class="app-content">
  <div class="app-title">
    <div>
      <ul class="app-breadcrumb breadcrumb">
        <li class="breadcrumb-item active"><a href="#"><i class="fa fa-dashboard"></i> Dashboard</a></li>
      </ul>
    </div>
    <ul class="app-breadcrumb breadcrumb">
      <li class="breadcrumb-item active"><button class="btn btn-outline-primary" type="button" data-toggle="modal" data-target="#add_team">Add Team</button>
      </li>
    </ul>
    <div class="modal" id="add_team" >
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Add Team</h5>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
          </div>
          <form method="POST" action="{{teams}}" enctype="multipart/form-data">
          <div class="modal-body">
              {% csrf_token %}
              <div class="form-group">
                <label class="control-label">Team Name</label>
                <input class="form-control" type="text" name="team_name" placeholder="Enter Team Name">
              </div>
              <div class="form-group">
                <label class="control-label">Short Name</label>
                <input class="form-control" type="text" name="team_short_name" placeholder="Enter Team Short Name">
              </div>
              <div class="form-group">
                <label class="control-label">Logo</label>
                <input class="form-control" type="file" name="logo">
              </div>
          </div>
          <div class="modal-footer">
            <button class="btn btn-primary" type="submit">Add</button>
            <button class="btn btn-secondary" type="button" data-dismiss="modal">Close</button>
          </div>
        </form>

        </div>
      </div>
    </div>

  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="tile">
        <h3 class="tile-title">Matches</h3>
        <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th>#</th>
              <th>Team A</th>
              <th>Team B</th>
              <th>Date</th>
              <th>Status</th>
              <th>Match Type</th>
              <th>Won</th>
            </tr>
          </thead>
          <tbody>
            {% for s in match_info %}
            <tr>
              <td>{{forloop.counter}}</td>
              <td><a href="{% url 'team_details' id=s.schedule.team_one.id %}">{{s.schedule.team_one.name}}</a></td>
              <td><a href="{% url 'team_details' id=s.schedule.team_two.id %}">{{s.schedule.team_two.name}}</a></td>
              <td>{{s.schedule.schedule_date}}</td>
              <td>{% if s.schedule.status == "Incomplete" %}
                <button class="btn btn-outline-secondary">Up-comming</button>
                {% elif s.schedule.status == "Today" %}
                <a href="{% url 'schedule_details' id=s.schedule.id %}" class="btn btn-outline-primary">Today</a>
                {% elif s.schedule.status == "Live" %}
                <a href="{% url 'livematch_details' id=s.id %}" class="btn btn-outline-danger">Live</a>
                {% else %}
                <a href="{% url 'livematch_details' id=s.id %}" class="btn btn-outline-success">Reviews</a>
                {%endif%}
              </td>
              <td>{{s.schedule.match_type}}</td>
              <td>{% if s.schedule.status == "Complete" %}
                  {% if s.who_win %}
                    {{s.schedule.team_one.name}}
                  {% else %}
                    {{s.schedule.team_two.name}}
                  {% endif %}
                {% else %}

                <div class="spinner-grow text-primary" role="status">
                  <span class="sr-only">Loading...</span>
                </div>
                <div class="spinner-grow text-secondary" role="status">
                  <span class="sr-only">Loading...</span>
                </div>
                
                {%endif%}
              </td>
              
            </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
      </div>
    </div>
  </div>
</main>
{% endblock main_content %}