{% extends 'Admin_App/base.html' %}
{% load static %}

{% block main_content %}

<main class="app-content">
  <div class="app-title">
    <div>
      <ul class="app-breadcrumb breadcrumb">
        <li class="breadcrumb-item active"><a href="#"><i class="fa fa-dashboard"></i> Dashboard</a></li>
      </ul>
    </div>
    <ul class="app-breadcrumb breadcrumb">
    </ul>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="tile">
        <div class="tile-body">
          <div class="table-responsive">
            <table class="table table-hover table-bordered" id="sampleTable">
              <thead>
                <tr>
                  <th>Image</th>
                  <th>Name</th>
                  <th>Team</th>
                  <th>Role</th>
                  <th>Village</th>
                </tr>
              </thead>
              <tbody>
                {% for p in all_players %}
                <tr>
                  <td><img src="{{p.image.url}}" class="rounded-circle border-border-success" width="50px" height="50px" alt="{{p.name}}"> </td>
                  <td><a href="{% url 'player_details' id=p.id %}">{{p.name}}</a></td>
                  <td><a href="{% url 'team_details' id=p.team.id %}">{{p.team.name}}</a></td>
                  <td>{{p.role}}</td>
                  <td>{{p.address}}</td>
                </tr>
                {% endfor%}
                
                 
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>

{% endblock main_content %}

{% block js %}
<script type="text/javascript" src="{% static 'Admin_App/js/plugins/jquery.dataTables.min.js' %}"></script>
<script type="text/javascript" src="{% static 'Admin_App/js/plugins/dataTables.bootstrap.min.js' %}"></script>
<script type="text/javascript">
  $('#sampleTable').DataTable();
</script>
{% endblock js %}