{% extends 'Admin_App/base.html' %} {% load static %} 
{% block title %}Point Tables{%endblock title%}
{% block main_content %}
<main class="app-content">
	<div class="app-title">
	  <div>
		<ul class="app-breadcrumb breadcrumb">
		  <li class="breadcrumb-item active"><a href="#"><i class="fa fa-dashboard"></i> Dashboard</a></li>
		</ul>
	  </div>
	  <ul class="app-breadcrumb breadcrumb">
	  </ul>
	</div>

    <div class="row">
      <div class="col-md-12">
        <div class="tile">
				<h6 class="tile-title text-primary">Points Tables</h6>

        <table class="table table-hover table-bordered " id="sampleTable">
				<thead>
				  <tr>
					<th>Team</th>
					<th>Mat</th>
					<th>L</th>
					<th>W</th>
					<th>P</th>
					<th>RR</th>
				  </tr>
				</thead>
				<tbody>
				  {% for p in point_table %}
				  <tr>
					<td>
					  <a href="">{{p.team.name}}</a>
					</td>
					<td>{{p.matches}}</td>
					<td>{{p.lose}}</td>
					<td>{{p.win}}</td>
					<td>{{p.point}}</td>
					<td>{{p.run_rate}}</td>
				  </tr>
				  {% endfor %}
				</tbody>
		</table>
          
        </div>
      </div>
    </div>

 </main>	

{% endblock main_content %}
{% block js %}

{% endblock js %}
