{% extends 'admin_template/base.html' %}
{% load static %}
{% block main_content %}

<main class="app-content">
    <div class="app-title">
        <div>
            <ul class="app-breadcrumb breadcrumb">
                <li class="breadcrumb-item active"><a href="#"><i class="fa fa-dashboard"></i> Dashboard</a></li>
            </ul>
        </div>
        <ul class="app-breadcrumb breadcrumb">
            <li class="breadcrumb-item active"><button class="btn btn-outline-primary" type="button" data-toggle="modal"
                    data-target="#add_team">Add Vender</button>
            </li>
        </ul>
    </div>
    <div class="modal" id="add_team">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Add Vender</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">×</span></button>
                </div>
                <form method="POST" action="{{vender}}" enctype="multipart/form-data">
                    <div class="modal-body">
                        {% csrf_token %}

                        <div class="row">
                            <div class="form-group col-sm-6">
                                <label class="control-label">First Name</label>
                                <input type="text" name="first_name" class="form-control" placeholder="Enter First Name"
                                    required>
                            </div>
                            <div class="form-group col-sm-6">
                                <label class="control-label">Last Name</label>
                                <input type="text" name="last_name" class="form-control" placeholder="Enter Last Name"
                                    required>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-sm-6">
                                <label class="control-label">Email</label>
                                <input type="text" name="email" class="form-control" placeholder="Enter Email" required>
                            </div>
                            <div class="form-group col-sm-6">
                                <label class="control-label">Phone</label>
                                <input type="text" name="phone" class="form-control" placeholder="Enter Phone" required>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-sm-6">
                                <label class="control-label">Alternative Phone </label>
                                <input type="text" name="alternative_phone" class="form-control"
                                    placeholder="Enter Alternative Phone" required>
                            </div>
                            <div class="form-group col-sm-6">
                                <label class="control-label">Password</label>
                                <input type="text" name="password" class="form-control" placeholder="Enter Password"
                                    required>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-sm-6">
                                <label class="control-label">City</label>
                                <select class="form-control" name="city" id="city" required>
                                    <option disabled selected> Select City </option>
                                    {% for v in city_list %}
                                    <option value="{{v.id}}">{{v.city}} </option>
                                    {% endfor %}
                                </select>
                            </div>

                            <div class="form-group col-sm-6">
                                <label class="control-label">Area</label>
                                <select class="form-control" name="area" id="area" required>

                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-sm-6">
                                <label class="control-label">Pincode</label>
                                <input type="text" name="pincode" class="form-control" placeholder="Enter Pincode"
                                    required>
                            </div>

                            <div class="form-group col-sm-6">
                                <label class="control-label">Address</label>
                                <textarea name="address" id="" class="form-control" rows="2"></textarea>

                            </div>

                        </div>

                        <div class="row">
                            <div class="form-group col-sm-6">
                                <label class="control-label">ID Proof</label>
                                <select class="form-control" name="address_proof_type" required>
                                    <option value="Aadhhar">Aadhaar </option>
                                    <option value="Voter">Voter </option>
                                    <option value="Pancard">Pancard </option>
                                </select>
                            </div>

                            <div class="form-group col-sm-6">
                                <label class="control-label">ID Proof Number</label>
                                <input type="text" name="address_proof_id" class="form-control"
                                    placeholder="Enter ID Proof Number" required>
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group col-sm-6">
                                <label class="control-label">Upload ID Proof Photo</label>
                                <input type="file" name="address_proof_photo" class="form-control" required>
                            </div>
                            <div class="form-group col-sm-6">
                                <label class="control-label">Profile Photo</label>
                                <input type="file" name="profile_photo" class="form-control" required>
                            </div>

                        </div>


                        <div class="form-group">
                            <label class="control-label">Service Category</label>
                            <select class="form-control" name="category" id="category" required>
                                <option disabled selected> Select Service</option>
                                {% for c in category_list %}
                                <option value="{{c.id}}">{{c.name}}</option>
                                {% endfor %}
                            </select>
                        </div>

                        <div class="price-list">

                        </div>

                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-primary" type="submit">Add</button>
                        <button class="btn btn-secondary" type="button" data-dismiss="modal">Close</button>
                    </div>
                </form>

            </div>
        </div>
    </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="tile">
                <h3 class="tile-title">Service Lists </h3>
                <table class="table" id="sampleTable">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Name</th>
                            <th>Phone</th>
                            <th>Address</th>
                            <th>Image</th>
                        </tr>
                    </thead>
                    <tbody>

                        {% for v in vender_list %}
                        <tr>
                            <td>{{forloop.counter}}</td>
                            <td><a href="">{{v.cu.first_name}} {{v.cu.last_name}}</a></td>
                            <td>{{v.cu.phone}}</td>
                            <td>{{v.city.city}}, {{v.area.area}}, {{v.address}},</td>
                            <td><img src="{{v.profile_photo.url}}" class="rounded-circle border-border-success" width="50px"
                                    height="50px" alt="{{s.name}}"></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</main>
{% endblock main_content %}

{% block js %}
<script type="text/javascript" src="{% static 'admin/js/plugins/jquery.dataTables.min.js' %}"></script>
<script type="text/javascript" src="{% static 'admin/js/plugins/dataTables.bootstrap.min.js' %}"></script>
<script type="text/javascript">
    $('#sampleTable').DataTable();
    function fetch_area(city_id) {
        $.ajax({
            url: "{% url 'fetch_area' %}",
            type: "POST",
            data: {
                city_id
            },
            cache: false,
            success: function (result) {
                const data = JSON.parse(result)
                let html_data = '';
                data.forEach(function (data) {
                    html_data += `<option value="${data.id}">${data.area}</option>`
                });
                $("#area").html(html_data);
            }

        });
    }


    $('#city').on('change', function () {
        var city_id = this.value;
        fetch_area(city_id)
    });


    $('#category').on('change', function () {
        var service_id = this.value;
        if (service_id) {
            var data_list = []
            $.ajax({
                url: "{% url 'fetch_service_price' %}",
                type: "POST",
                data: {
                    service_id
                },
                cache: false,
                success: function (result) {
                    const data_list = result.price
                    if (data_list?.length > 0) {
                        var html_div = '';
                        data_list.forEach(function (data) {
                            html_div += '<div class="form-group row mt-2" >'
                            html_div += '<div class="col-sm-6">'
                            html_div += '<label for="">Time</label>'
                            html_div += '<input type="text" disable class="form-control" name="time" value="' + data.time + '" readonly>'
                            html_div += '</div>'
                            html_div += '<div class="col-sm-4">'
                            html_div += '<label for="">Price</label>'
                            html_div += '<input type="number" class="form-control" name="price" value="' + data.price + '" required>'
                            html_div += '</div>'
                            html_div += ' <div class="col-sm-2">'
                            html_div += '<input type="button" class="btn btn-danger remove_btn mt-4"  value="Del"> '
                            html_div += '</div>'
                            html_div += '</div >'
                        });
                        console.log(html_div)
                        $(".price-list").append(html_div);
                    }
                    else {
                        console.log("emplty", data_list)
                        $(".price-list").empty();
                    }

                }

            });

        }
    });



    $(".price-list").on("click", ".remove_btn", function (event) {
        $(this).closest(".form-group").remove();
    });
</script>
{% endblock js %}